<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Pantry</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Welcome to your pantry.</h1>
    <a href="/users/<%= user._id %>/foods/new">Add food to your pantry!</a>
    <% if(pantry.length === 0) { %>
        <p>There is no food in your pantry, add some!</p>
    <% } else { %>
    <ul>
        <% pantry.forEach((food) => { %>
            <li>
                <a href="/users/<%= user._id %>/foods/<%= food._id %>">
                <%= food.name %>
                </a>
            </li>
        <% }) %>
    <% } %>
    </ul>
  </body>
</html>